<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/userProfile.css">
 
    <title>Tour To New York</title>
</head>
<body style="overflow: hidden;">


    

    {{> navbar}}
    
    <div class="mainContainer">
            <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" id="svgDiv">
            <path fill="#CEE8FF" d="M42.7,-75.4C52.7,-68.3,56.3,-51.4,62.5,-37.3C68.6,-23.1,77.3,-11.5,81.1,2.2C84.8,15.9,83.7,31.8,76.1,43.4C68.5,55,54.3,62.3,40.5,69.3C26.8,76.3,13.4,83.1,1.4,80.6C-10.6,78.2,-21.2,66.6,-35.6,60C-50,53.3,-68.1,51.6,-76.7,42.4C-85.3,33.2,-84.4,16.6,-83.9,0.3C-83.4,-16,-83.4,-32.1,-74.9,-41.4C-66.3,-50.7,-49.3,-53.3,-35.4,-58.1C-21.5,-63,-10.8,-70.1,2.8,-75C16.4,-79.8,32.8,-82.5,42.7,-75.4Z" transform="translate(100 100)" />
            </svg>
        <div id="left">
            <span id="leftHead">TOUR TO NEW YORK</span>
            <span id="leftSub">The <span>Perfect</span> Tour Manager</span>
        </div>
        <div id="right">
            <img src="/img/avenger.jpg" alt="PHOTO">
        </div>
            <svg id="imageSvg" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
            <path fill="#CEE8FF" d="M53.1,-73C67.8,-62.3,78.1,-45.5,79.2,-28.8C80.4,-12.2,72.4,4.4,66.1,20.7C59.8,37.1,55.1,53.2,44.3,62.7C33.6,72.2,16.8,75.1,1.8,72.6C-13.2,70.1,-26.4,62.3,-40.6,53.9C-54.8,45.5,-69.9,36.6,-76.8,23.2C-83.6,9.7,-82,-8.2,-73.1,-20.1C-64.2,-32,-48,-37.9,-34.6,-49C-21.2,-60.1,-10.6,-76.4,4.3,-82.3C19.2,-88.1,38.3,-83.6,53.1,-73Z" transform="translate(100 100)" />
            </svg>
    </div>
    
    {{> footer}}

   

</body>
</html>